<ion-header>
  <ion-toolbar color='primary'>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-grid no-padding>
      <ion-row>
        <ion-col size-md=6>
          <ion-card-header>
            <ion-card-title text-center>
              Sign up
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
              <ion-item>
                <ion-label position='floating'>Name</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position='floating'>Email</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <ion-item>
                <ion-label position='floating'>Mobile</ion-label>
                <ion-input></ion-input>
              </ion-item>
              <div class='button'>
                <ion-button>Sign up</ion-button>
              </div>
          </ion-card-content>
        </ion-col>  
      </ion-row>
    </ion-grid>
  </ion-card>

</ion-content>
